---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <div class="row">
              <div class="col-sm-6 mt-3 mt-md-0">

              </div>
          </div>
          <br>
          <br>
<h1>Rep<strong>Mat</strong></h1>

          <h2 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h2>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2>Press Release</h2>
            {%- include selected_papers.html %}
          {%- endif %}


          <br>
          <hr>


          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
            </div>
          {%- endif %}
<div class="col-sm-12 mt-3 mt-md-0" style="font-size: 0.8rem; text-align: center">
          This Materials Library is part of Alessia Romani's <strong>Ph.D. research</strong> conducted at Politecnico di Milano (Italy), <br>entitled <a href="https://www.politesi.polimi.it/handle/10589/217101">"Circularity by design, materials and additive manufacturing: fostering sustainable and circular materialities <br>enabled by additive manufacturing"</a> and supervised by prof. Marinella Levi and prof. Valentina Rognoli.<br>
        <br>
          The RepMat Library is an <strong>Open Source Hardware Educational Tool</strong> certified by <a href="">OSHWA (Open Source Hardware Association)</a> and released under the <strong>CERN-OHL-S-2.0</strong> (hardware and documentation) and <strong>GNU General Public License (GPL) 3.0.</strong> (software).
          <br><br> <strong>Certification number:</strong> <a href="https://certification.oshwa.org/it000018.html">[OSHW] IT000018</a> | Certified open source hardware | <a href="oshwa.org/cert"> oshwa.org/cert</a>
  </div>
  <br>
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-2 mt-3 mt-md-0">
    </div>
      <div class="col-sm-2 mt-3 mt-md-0">
        {% include figure.html path="assets/img/Home/oshw-logo-outline.svg" title="OS Hardware" class="img-fluid" %}
        </div>
      <div class="col-sm-5 mt-3 mt-md-0">
          {% include figure.html path="assets/img/Home/certification-mark-IT000018-wide.png" title="Oshw certification number" class="img-fluid" %}
      </div>
      <div class="col-sm-2 mt-3 mt-md-0">
      </div>
  </div>
        </article>

</div>
